.education-article {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.education-article ul {
  position: relative;
  display: flex;
  column-gap: 1rem;
}

.education-article ul :nth-child(1) {
  min-width: 130px;
}

.education-article ul :nth-child(2) {
  flex-grow: 1;
}

.education-article ul :nth-child(3) {
  min-width: max-content;
  text-align: right;
}