/* Edit / Save button in the first section */
.personal button.mode {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.personal {
  display: flex;
  column-gap: 0.5rem;
  font-size: 1rem;
  min-height: 1rem;
}

.personal h3 {
  font-size: 2.7rem;
  display: flex;
  grid-row: 1 / -1;
  flex-grow: 1;
  align-items: center;
  font-weight: 600;
  color: var(--primary-color);
}

.personal h4 {
  font-size: 1.5rem;
}

.personal ul:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  margin-left: 0.25rem;
  justify-content: center;
}

.personal ul:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  list-style: none;
  grid-row: 1 / -1;
  padding-right: 0.25rem;
  justify-content: center;
  align-items: flex-end;
}

form.personal-details {
  margin: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
}