@media print {
  main {
    width: unset;
    max-width: unset;
    height: unset;
    padding: unset;
    margin: auto;
    padding: 0.5rem;
    width: 100%;
    font-family: sans-serif;
    font-size: 11pt;
    box-shadow: none;
    overflow: hidden;
    font-size: 10pt;
  }

  form, input, label, button, ::-webkit-scrollbar {
    display: none;
  }

  h2 {
    margin: 6pt 0 0 0;
    padding: 3pt 0 3pt 0;
    font-size: 16pt;
  }

  a,
  a:visited,
  a:active {
    font: inherit;
    text-decoration: 1px solid underline;
    color: black;
  }

  .personal ul {
    font-size: 10pt;
    line-height: 14pt;
  }

  .personal {
    margin-bottom: 0;
  }

  .personal a {
    text-decoration: none;
  }

  .personal h3 {
    font-size: 20pt;
  }

  .work-article {
    grid-template-columns: minmax(120px, min-content) 1fr;
  }

  .work ul {
    font-size: 9pt;
  }

  .project-info {
    display: flex;
    flex-direction: column;
    gap: 2pt;
    margin-bottom: 2pt;
  }

  label.visible {
    display: none;
  }

  .education li {
    font-size: 9pt;
  }
}