@media print {

  * {
    font-family: 'Open Sans', 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 9pt;
  }

  header {
    display: none;
  }

  /* The content which will be printed */
  main {
    width: unset;
    max-width: unset;
    height: unset;
    padding: unset;
    margin: auto;
    padding: 0.25rem;
    width: 100%;
    box-shadow: none;
    overflow: hidden;
  }

  form, input, label, button, textarea ::-webkit-scrollbar {
    display: none;
  }

  /* Section Headings */
  h2 {
    font-size: 14pt;
    margin: 6pt 0 0pt 0;
    padding: 0 0 2pt 0;
  }

  /* Name */
  .personal h3 {
    font-weight: 700;
    font-size: 20pt;
  }

  /* Subtitle */
  .personal h4 {
    font-size: 14pt;
  }

  /* Project Title */
  .projects h3 {
    font-size: 10pt;
  }

  /* View live / View code */
  .projects a {
    font-size: 7pt;
  }

  /* All links */
  a,
  a:visited,
  a:active {
    font: inherit;
    text-decoration: 1px solid underline;
    color: black;
  }

  /* About Me Paragraph */
  .about > p {
    line-height: 12pt;
  }

  .personal ul:nth-of-type(2) {
    line-height: 12pt;
  }

  .personal {
    margin-bottom: 0pt;
  }

  .personal a {
    text-decoration: none;
  }

  .work-article {
    grid-template-columns: minmax(120px, min-content) 1fr;
  }

  /* Job Title, Company, Date */
  .work ul {
    font-size: 9pt;
  }

  .project-article {
    padding: 0.25rem;
  }

  /* Project Title & Year section */
  .project-info {
    display: flex;
    column-gap: 4pt;
    align-items: center;
  }

  /* Project paragraph */
  .project-info > p {
    font-size: 9pt;
    line-height: 12pt;
  }

  .education li {
    font-size: 8pt;
  }

  .education li:nth-of-type(1) {
    min-width: 120px;
  }

  ul.tags {
    font-style: italic;
    font-size: 8pt;
    margin-top: 2pt;
    margin-bottom: 2pt;
  }

  ul.process li {
    font-size: 8pt;
    list-style: none;
  }

  ul.process li:before{ content:"•"; font-size:8pt; padding-right: 0.25rem; }


}