@media print {
  header {
    display: none;
  }

  main {
    width: unset;
    max-width: unset;
    height: unset;
    padding: unset;
    margin: auto;
    padding: 0.25rem;
    width: 100%;
    font-family: sans-serif;
    font-size: 10pt;
    box-shadow: none;
    overflow: hidden;
  }

  form, input, label, button, textarea ::-webkit-scrollbar {
    display: none;
  }

  h2 {
    margin: 4pt 0 0 0;
    padding: 2pt 0 2pt 0;
    font-size: 16pt;
  }

  a,
  a:visited,
  a:active {
    font: inherit;
    text-decoration: 1px solid underline;
    color: black;
  }

  .about > p {
    line-height: 11pt;
    font-size: 9pt;
  }

  .personal ul:nth-of-type(2) {
    font-size: 9pt;
    line-height: 12pt;
  }

  .personal {
    margin-bottom: 0;
  }

  .personal a {
    text-decoration: none;
  }

  .personal h3 {
    font-size: 22pt;
  }

  .personal h4 {
    font-style: italic;
    font-size: 16pt;
  }

  .work-article {
    grid-template-columns: minmax(120px, min-content) 1fr;
  }

  .work ul {
    font-size: 9pt;
  }

  .project-info {
    display: flex;
    column-gap: 6pt;
    align-items: center;
  }

  .project-info h3 {
    font-size: 12pt;
    line-height: 14pt;
  }

  .project-info > p {
    font-size: 9pt;
    line-height: 12pt;
  }

  .education li {
    font-size: 9pt;
  }

  ul.tags {
    font-style: italic;
    font-size: 8pt;
    margin-top: 0pt;
    margin-bottom: 4pt;
  }

  ul.process {
    font-size: 9pt;
  }
}