.work-article {
  display: grid;
  grid-template-columns: minmax(130px, min-content) 1fr;
  row-gap: 0.75rem;
  column-gap: 1rem;
}

/* Description of work */
.work-article > p {
  text-align: justify;
  min-height: max-content;
}

.work-article > p.maximised {
  grid-column: 1 / -1;
}

ul.work-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.25rem;
}

ul.work-info.condensed {
  flex-direction: row;
  grid-column: 1 / -1;
  justify-content: start;
  gap: 2rem;
}

ul.work-info.condensed li {
  min-width: 10rem;
}


ul.work-info.condensed li:nth-last-of-type(2) {
  flex-grow: 1;
}

ul.work-info.condensed li:nth-last-of-type(1):not(.primary) {
  flex-grow: 1;
  text-align: right;
}

.work li.primary {
  text-align: left;
}

.work button.create {
  margin-top: 0.5rem;
}