@font-face {
  font-family: 'Calibri';
  src: url('../src/fonts/Calibri.woff2') format('woff2'),
       url('../src/fonts//Calibri.woff') format('woff');
}

:root {
  --primary-color: #456990;
  --highlight-color: #efefef;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
}

a,
button {
  cursor: pointer;
}

input,
textarea {
  cursor:text;
}

body {
  background-color: papayawhip;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'Calibri';
  align-items: center;
}

header {
  grid-column: 1 / -1;
  text-align: center;
  background-color: black;
  color: lightgreen;
  padding-top: 0.5rem;
  width: 100%;
}

main {
  width: 80vw;
  max-width: 5.8in;
  height: 8.3in;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #fff;
  box-shadow: 1px 1px 20px rgba(0,0,0,0.7);
  overflow-y: auto;
}

.personal,
.work,
.education,
.about,
.skills,
.projects {
  display: grid;
  position: relative;
  align-content: start;
}

h2 {
  font-size: 1.75rem;
  text-align: center;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  padding: 0.1rem;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

h2.editing {
  text-align: left;
  padding-left: 1rem;
}

form {
  margin-top: 0.5rem;
}

form.edit,
form.new {
  display: flex;
  flex-direction: column;
  background-color: var(--highlight-color);
  padding: 0.5rem;
  row-gap: 0.5rem;
}

form.edit .form-container {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  flex-direction: column;
}

form input:nth-of-type(1) {
  font-weight: 600;
}

input {
  min-width: 0;
  width: 100%;
  font-size: 0.9rem;
  font-family: inherit;
  color: black;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  outline: 1px solid #716A5C;
  box-shadow: 0 1px 2px #716A5C;
}

textarea {
  font: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  min-height: 5rem;
}

/* All input labels */
label {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

ul {
  list-style: none;
}

button {
  padding: 0.25rem;
  border-radius: 0.5rem;
  font-weight: 600;
  width: 4rem;
}

/* Edit / Save mode button */
button.mode {
  position: absolute;
  top: 1rem;
  right: 0.25rem;
}

/* Add... section button */
button.add {
  margin-top: 0.5rem;
  place-self: center;
  width: 15rem;
}

/* Remove section button */
button.remove {
  position: absolute;
  top: 1rem;
  right: 4.5rem;
}

/* Edit... button */
button.edit {
  grid-column: 2;
  justify-self: end;
  align-self: end;
}

/* "Add new... button */
button.create {
  width: 10rem;
  place-self: center;
}

button.cancel {
  color: red;
}

button.submit {
  color: green;
}

/* Container for edit / save button */
.button-container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 0.5rem;
  grid-column: 1 / -1;
  margin-top: 0.5rem;
}

section:not(section.education) > article:nth-of-type(odd){
  background-color: var(--highlight-color);
}

section > article {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}