@font-face {
  font-family: 'Calibri';
  src: url('../src/fonts/Calibri.woff2') format('woff2'),
       url('../src/fonts//Calibri.woff') format('woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: #456990;
}

body {
  background-color: papayawhip;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'Calibri';
  align-items: center;
}

header {
  grid-column: 1 / -1;
  text-align: center;
  background-color: darkgrey;
  color: white;
  width: 100%;
}

footer {
  text-align: center;
  background-color: darkgrey;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

main {
  width: 80vw;
  max-width: 5.8in;
  height: 8.3in;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #fff;
  box-shadow: 1px 1px 20px rgba(0,0,0,0.7);
}

.personal,
.work,
.education {
  display: grid;
  position: relative;
  gap: 0.5rem;
  align-content: start;
  border-radius: 1rem;
  grid-column: 1 / -1;
}

h2 {
  font-size: 1.75rem;
  text-align: center;
  width: 100%;
  background-color: var(--blue);
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  padding: 0.1rem;
  margin-top: 0.75rem;
}

h2.editing {
  text-align: left;
  padding-left: 1rem;
}

button {
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: 600;
}

/* Edit / Save mode button */
button.mode {
  position: absolute;
  top: 1rem;
  right: 0.25rem;
  width: 4rem;
}

/* Add section button */
button.add {
  margin-top: 0.5rem;
  place-self: center;
  width: 15rem;
}

/* Remove section button */
button.remove {
  position: absolute;
  top: 1rem;
  right: 4.5rem;
  width: 4rem;
}

/* Edit employment / work / item button */
button.edit {
  position: absolute;
  right: -5rem;
  top: -.25rem;
  width: 4rem;
  z-index: 2;
}

/* Save employment / work / item button */
button.save {
  position: absolute;
  right: -5rem;
  top: -.25rem;
  width: 4rem;
}

/* Delete employment / work / item button */
button.delete {
  position: absolute;
  right: -9.5rem;
  top: -.25rem;
  width: 4rem;
}

button.create {
  width: 10rem;
  place-self: center;
}

section.personal button.mode {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

section.personal {
  grid-template-columns: 1fr 40%;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0;
}

section.personal,
section.personal input {
  text-align: right;
  font-size: 1rem;
}

section.personal p:first-of-type,
section.personal input:first-of-type {
  font-size: 2rem;
  width: 100%;
  font-weight: 600;
  grid-row: 1 / -1;
  text-align: center;
  place-self: center;
  color: var(--blue);
}

section input {
  font-family: inherit;
  color: black;
  font-size: 0.9rem;
  padding: 0rem;
  border: none;
  outline: 1px solid #716A5C;
  box-shadow: 0 1px 2px #716A5C;
}

/* All input labels */
label {
  position: absolute;
  top: -5rem;
  opacity: 0;
}

.education-article {
  position: relative;
  display: flex;
  gap: 1rem;
}

.education-article :nth-child(1) {
  font-weight: 600;
  min-width: 80px;
}

.education-article :nth-child(3) {
  flex-grow: 1;
  text-align: right;
  min-width: 100px;
}

.education-form {
  display: flex;
  row-gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.education-form input {
  padding: 0.25rem 0;
  font-size: 0.9rem;
}

.education-form button:nth-of-type(1) {
  margin-right: 0.25rem;
  color: red;
}
.education-form button:nth-of-type(2) {
  margin-left: 0.25rem;
  color: green;
}

.work-article {
  position: relative;
  display: grid;
  grid-template-columns: minmax(150px, min-content) 1fr;
  grid-template-rows: repeat(3, max-content);
  row-gap: 0.25rem;
  column-gap: 1rem;
  background-color: #efefef;
  padding: 0.25rem 0.75rem;
  min-height: 2.5rem;
}

.work-article > p {
  grid-column: 2;
  grid-row: 1 / -1;
  text-align: justify;
  align-self: center;
}

.work-article button {
  top: 0.25rem;
}

.work-section p:nth-of-type(1) {
  font-weight: 600;
  grid-row: 1;
  grid-column: 1;
}
.work-section p:nth-of-type(2) {
  grid-row: 2;
  grid-column: 1;
}
.work-section p:nth-of-type(3) {
  grid-row: 3;
  grid-column: 1;
}

.work-form {
  display: flex;
  row-gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.work-form textarea {
  flex-grow: 2;
  flex-basis: 100%;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
}

.work-form input {
  padding: 0.25rem 0;
  font-size: 0.9rem;
}

.work-form button:nth-of-type(1) {
  margin-right: 0.25rem;
  color: red;
}
.work-form button:nth-of-type(2) {
  margin-left: 0.25rem;
  color: green;
}

.work-item-edit-form {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: repeat(3, max-content);
  row-gap: 0.25rem;
  column-gap: 1rem;
  background-color: #efefef;
  min-height: 2.5rem;
}

.work-item-edit-form input {
  font-size: 1rem;
  outline: none;
  border: none;
  box-shadow: none;
}

.work-item-edit-form label {
  position: absolute;
  left: -5.5rem;
  opacity: unset;
  text-align: right;
  letter-spacing: 0.05rem;
  background-color: black;
  color: white;
  padding: 0 0.25rem;
}

.work-item-edit-form label:nth-of-type(1) {
  top: unset;
}
.work-item-edit-form label:nth-of-type(2) {
  top: 1.75rem;
}
.work-item-edit-form label:nth-of-type(3) {
  top: 3.25rem
}
.work-item-edit-form label:nth-of-type(4) {
  opacity: 0;
}

.work-item-edit-form input:nth-of-type(1) {
  grid-row: 1;
  grid-column: 1;
}
.work-item-edit-form input:nth-of-type(2) {
  grid-row: 2;
  grid-column: 1;
}
.work-item-edit-form input:nth-of-type(3) {
  grid-row: 3;
  grid-column: 1;
}

.work-item-edit-form textarea {
  height: 100%;
  font-family: inherit;
  font-size: 1rem;
  grid-column: 2;
  grid-row: 1 / -1;
  border: none;
}